<ion-header>
    <ion-toolbar>
        <ion-title>Torshavn</ion-title>
        <ion-buttons slot="start">
            <ion-menu-button autoHide="false"></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content padding>
    <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom" (mapClick)="onChoseLocation($event)">
        <!-- <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker> -->
        <agm-marker *ngFor="let p of pointsOfInterest; let i = index" [animation]="p.animation" [latitude]="p.lat"
            [longitude]="p.lng" [iconUrl]="p.iconPath" (markerClick)="clickedMarker(p.label, i)"></agm-marker>
    </agm-map>
    <!-- <ion-grid>
        <ion-row>
            <ion-col size-sm="6" offset-sm="3" no-padding>
                <ion-img [src]="{{s3BaseImageUrl + selectedPointOfInterest.imagePath}}"></ion-img>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size-sm="6" offset-sm="3" text-center padding>
                <p>{{selectedPointOfInterest.description}}</p>
            </ion-col>
        </ion-row>
    </ion-grid> -->

</ion-content>