<ion-header>
    <ion-toolbar>
        <ion-title>Torshavn</ion-title>
        <ion-buttons slot="start">
            <ion-menu-button autoHide="false"></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content padding>
    <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom" (mapClick)="onChoseLocation($event)">
        <!-- <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker> -->
        <agm-marker *ngFor="let p of pointsOfInterest" 
        [latitude]="p.lat"
        [longitude]="p.lng" 
        [iconUrl]="path"></agm-marker>
    </agm-map> 
</ion-content>