<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Second Page</ion-title>
      </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="form">
    <ion-grid>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <app-location-picker 
            [showPreview]="form.get('location').value"
            (locationPick)="onLocationPicked($event)"></app-location-picker>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
